<div id="productos">
    <H1> No te pierdas estas promos</H1>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../productos/../../../assets/productos/black-plane.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Brasil</h5>
              <p class="card-text">Seleccioná destinos nacionales e internacionales</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../productos/../../../assets/productos/briefcase.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Italia</h5>
              <p class="card-text">Mirá las ofertas que tenemos para vos.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../productos/../../../assets/productos/hotel.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mexico</h5>
              <p class="card-text">Encontrá y reservá tu habitación, encontrando los mejores precios en los lugares que necesitás.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
       <!-- <div class="col">
            <div class="card h-100">
              <img src="../productos/../../../assets/productos/man-with-bag-and-walking-stick.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Excursiones</h5>
                <p class="card-text">Disfrutá y experimentá de las mejores excursiones de los mejores paisajes.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </div> 
          </div> 
      </div>
            </div>-->
    </div>