<p>carrito-total works!</p>

<aside> 
    <div class="comprita"> 
        <caption> <b>Resumen de tu compra </b></caption> 
            <hr width=75%  size=3 color="#999999">
            <p>¿Tenés cupón de descuento?</p> 
            <p>Ingresalo acá</p> 
             <input type="text" name="codigo" id="codigodesc" placeholder="Ingrese el código" size="20" maxlength="20" />
            <br><br><p>Subtotal:</p> 
            <hr width=75%   size=3 color="#666666">
            <p>Total</p> 
            
            <div class="d-grid gap-2 col-6 mx-auto">
            <button onclick="mensaje3()" class="btn btn-dark" type="button" >Iniciar compra</button>
            </div>
    </div>
</aside>