<div class="contacto">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" id="nombre">
    
        <input type="text" class="form-control" placeholder="Apellido" aria-label="Server" id="apellido">

        <input type="text" class="form-control" placeholder="example@mail.com" aria-label="Server" id="mail">

        <input type="text" class="form-control" placeholder="Teléfono" aria-label="Server" id="telefono">

        <div class="input-group">
            <textarea class="form-control" placeholder="Escribe aquí tu comentario" aria-label="With textarea" id="text-area"></textarea>
        </div>
    </div>
    <h5 class="recuerda">Responderemos tu comentario en la brevedad</h5>
    <div class="d-grid gap-2">
        <button class="btn btn-success" type="button" id="enviar">Enviar</button>
        
    </div>
</div>