<h1>MI PERFIL</h1>

  <div class="cuerpo-completo">

        <div class="encabezado">
          <img src="../assets/img/pedro.jfif" alt="Imagen de perfil" width="80" height="80">
          <span class="saludo">Hola!<br> <b>Pedro Pascal</b> </span>
        </div>  
        
     
        
        <div class="menu-container">
          <div class="menu-label">Menú</div>
          <ul class="menu">
            <li><a href="#contenido1" class="menu-item" onclick="seleccionarMenuItem(this)">Perfil</a></li>
            <li><a href="#contenido2" class="menu-item" onclick="seleccionarMenuItem(this)">Pedidos</a></li>
            <li><a href="#contenido3" class="menu-item" onclick="seleccionarMenuItem(this)">Tarjetas</a></li>
            <li><a href="#contenido4" class="menu-item" onclick="seleccionarMenuItem(this)">Autentificación</a></li>
            <li><a href="#contenido5" class="menu-item" onclick="seleccionarMenuItem(this) ">Salir</a></li>
          </ul>

        </div>

      <div class="contenido-container">
        <div id="contenido1">
          <b>Nombre</b>  Pedrito<br><br>
          <b>Apellido</b>  Pascal<br><br>
          <b>email</b>  pedritopascal@gmail.com<br><br>
          <b>DNI</b>  40 236 235<br><br>
          <b>Teléfono</b>  35124500564545<br><br>
          <b>Fecha de nacimiento</b>  02/02/1975<br><br>
          <button class="editar-btn">Editar</button>
        </div>
        
        <div id="contenido2">
          
          <div>
            <p>Fecha del pedido: 03 de Noviembre 2022 #213545874845454</p>
            <p>Nombre del producto: ENTREGADO</p>
            <img src="../assets/img/pedro.jfif" alt="Foto ilustrativa" width="40" height="40">
            <p>Detalles breves:</p>
            <button>Ver pedido</button>
            <p>Nombre del producto:</p>
            <p>Detalles breves:</p>
            <p>TOTAL: $ 35.000</p>
            <button>Repetir compra</button>
          </div>

        </div>
        <div id="contenido3">ACA VA EL CONTENIDO DE TARJETAS</div>
        <div id="contenido4">ACA VA EL CONTENIDO DE Autentificación</div>
        <div id="contenido5">SALIR DE PERFIL</div>
        
       

      </div>
      
   

  </div>


