<div class="company-info">
  <h1 id="quienes_somos">QUIENES SOMOS</h1>
    <p>Easy travel es una empresa formada en el 2022 por alumnos de la tecnicatura de Desarrollo Web y Aplicaciones Digitales, con el fin de fomentar el tourismo de cabotaje e internacional, brindando una plataforma sencilla y práctica al usuario para poder elegir y comprar sus viajes o experiencias de acuerdo a sus gustos o intereses.</p>

    <h1 id="nuestro_equipo_titulo">Nuestro Equipo</h1>
    <div class="columns">
    
      <div class="column">
        <div class="image-container">
          <img src="./../../../assets/img/quienes_somos/anahi.PNG" alt="Foto de referencia">
        </div>
        <h2 class="nuestro_equipo">Anahí Nicoli</h2>
        <h3>Rol: Scrum master/Programación front end-diseño</h3>
        <p> Categoría Profesional: Programadora Front End y diseñadora. <br>
          Responsabilidad:
          Acompañar al equipo durante el transcurso del proyecto para concretarlo cumpliento con los tiempos y requerimientos. / Generar una propuesta de diseño teniendo en cuenta los requerimientos del cliente buscando un equilibro entre diseño y acceso. Colaborar con la interfaz gráfica-visual y funcionamiento acorde lo requerido por el equipo de diseño y backend de la empresa.
        </p>
        </div>
      <div class="column">
        <div class="image-container">
          <img src="./../../../assets/img/quienes_somos/juan.PNG" alt="Foto de referencia">
        </div>
        <h2 class="nuestro_equipo">Juan Gabriel Soto Valenzuela</h2>
        <h3>Rol: Coordinador SoftSkill - Programación Django</h3>
        <p> Categoría Profesional: Programador Backend<br>
          Plasmar en el sitio la interfaz gráfica-visual y funcionamiento acorde lo requerido por el equipo de diseño y backend de la empresa.
        </p></div>
      <div class="column">
        <div class="image-container">
          <img src="./../../../assets/img/quienes_somos/patry.PNG" alt="Foto de referencia">
        </div>
        <h2 class="nuestro_equipo">Patricia Alejandra Solis</h2>
        <h3>Rol: Analista en gestión</h3>
        <p> Categoría Profesional: Analista Programador<br>
          Toma de requerimientos, asistir en diseñar y programar la interfaz grafica (GUI)
          </p>
      </div>
    </div>
        <br><br>

  <div class="columns">
    
    <div class="column">
      <div class="image-container">
        <img src="" alt="Foto de referencia">
      </div>
      <h2>Misión</h2>
      <p>Nuestra misión es proporcionar a nuestros clientes un servicio excepcional, satisfaciendo sus necesidades de viaje y superando sus expectativas.</p>
    </div>
    <div class="column">
      <h2>Visión</h2>
      
      <p>Como empresa, nos esforzamos por convertirnos en el referente en el sector del turismo, ofreciendo calidad, innovación y excelencia en cada experiencia de viaje.</p>
    </div>
    <div class="column">
      <h2>Politicas de Privacidad</h2>
        <p>En Easytravel, nos tomamos muy en serio la privacidad de nuestros clientes. Puedes revisar nuestras políticas de privacidad completas en el siguiente enlace: <a href="/politicas-privacidad">Políticas de privacidad</a></p>
    </div>
  </div>
  

