h1{
    text-align: center;
}
h3{
    margin-top: 1em;
    text-align: center;

}

#resultados1{
    margin-top: 2em;
    margin-left: 12em;
    margin-bottom: 1em;
}
#resultados2{
    margin-left: 13em;
    margin-bottom: 1em;
}

#volver-btn{
    margin-left: 21em;
    margin-bottom: 2em;
    margin-right: 8em;
}

#comprar-btn{
    margin-bottom: 2em;
    margin-right: 2em;
}