<h1>Aquí están los resultados de la búsqueda que nos solicitaste!!!</h1>
<h3>sitio aún en proceso...</h3>
<div id="resultados1">
    <img src="../../../assets/img/resultados1.jpg" alt="resultado1" id="resultados1">
</div>
<div id="resultados2">
    <img src="../../../assets/img/resultados2.jpg" alt="resultado2" id="resultados1">
</div>
<button class="btn btn-success" type="button" routerLink="/filtro" id="volver-btn">Volver atrás</button>
<button class="btn btn-success" type="button" routerLink="/carrito" id="comprar-btn">Agregar al carro y comprar</button>