<nav class="navbar navbar-expand-lg bg-dark p-3 fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="../../assets/img/easy travel rectangular300px.png" alt="Logo" width="100" class="d-inline-block align-text-center">
        </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#" id="inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/empresa">Empresa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/contactanos">Contáctanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-success" href="#ayuda">Ayuda</a>
        </li>
        <img src="../../assets/img/Icons/store-solidWhite.svg" alt="store" routerLink="carrito" id="icon-store">
        <img src="../../assets/img/Icons/user-solid.svg" *ngIf="!userLoginOn" alt="Iniciar Sesión" routerLink="login" id="icon-user">
        <img src="../../assets/img/Icons/user-solid.svg" *ngIf="userLoginOn" alt="Cerrar Sesión" routerLink="login" id="icon-user1">

      </ul>
    </div>
  </div>
</nav>