/*para icono de usuario/login*/
#icon-user{
    margin-top: 3px;
    margin-left: 65px;
    height: 1.8em;
    cursor: pointer;
    color: azure;
    
}


#icon-user1{
    margin-top: 3px;
    margin-left: 65px;
    height: 1.8em;
    cursor: pointer;
    color: azure;
    
}

/*para icono de store/carrito */
#icon-store{
    margin-top: 3px;
    margin-left: 65px;
    height: 1.8em;
    cursor: pointer;
    color: azure;
}

