<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
body{
    background-color: #e2e0dc;
}

.ng-valid:not(form).ng-touched {
    border-left:5px solid #42A948;
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442;
}
=======
>>>>>>> 4039ea6952f2d5b934cb41bfb3601d1e48e78a37

