div{
    background-color: dimgrey;
}
#titulo{
    margin-left: 25%;
}

#buscando{
    width: 35%;
    margin-left: 35%;
    margin-top: 15px;
}

#origen, #destino, #pasajeros, #cantidad{
    width: 35%;
    margin-left: 5%;
    margin-top: 15px;
}
#form1, #form2{
    margin-left: 15%;
}
#buscar{
    width: 35%;
    margin-left: 35%;
    margin-top: 15px;
    margin-bottom: 5px;
}