<div class="filtro">
<p *ngIf="!userLoginOn">Usuario no identificado</p>
<p *ngIf="userLoginOn">Usuario identificado</p>

   
    <div id="filtros1">
        <select class="form-select" aria-label="Default select example" id="buscando">
            <option selected>Qué estás Buscando?</option>
            <option value="1">Viajes Avión</option>
            <option value="2">Viajes en Micro</option>
            <option value="3">Alojamiento</option>
            <option value="4">Ofertas/Promociones</option>
            <option value="5">Excursiones</option>
          </select>
    </div>
    <div class="form-group row" id="form1">
         
            <select class="form-select" aria-label="Default select example" id="origen">
                <option selected>Origen</option>
                <option value="1">Bs.As</option>
                <option value="2">CBA</option>
                <option value="3">Otro</option>
            </select>
            
            <select class="form-select" aria-label="Default select example" id="destino">
                <option selected>Destino</option>
                <option value="1">Brasil</option>
                <option value="2">Italia</option>
                <option value="3">Mexico</option>
            </select>
        
    </div>
    <div class="form-group row" id="form2">

          <select class="form-select" aria-label="Default select example" id="pasajeros">
            <option selected>Pasajeros</option>
            <option value="1">Adultos</option>
            <option value="2">Niños</option>
            <option value="3">Jubilados</option>
          </select>

          <select class="form-select" aria-label="Default select example" id="cantidad">
            <option selected>Cantidad</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
    </div>
    <div class="d-grid gap-2" id="buscar">
        
        <button class="btn btn-success" type="button" routerLink="/resultados">Buscar</button>
        
    </div>

</div>

