*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
}

.redes-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px; 
     text-align: center; 
    
}

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}

.redes-container ul:hover a{
    filter: blur(2px);
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes-container ul li .facebook:hover{
    background: var(--facebook);
}

.redes-container ul li .instagram:hover{
    background: var(--instagram);
}

.redes-container ul li .twitter:hover{
    background: var(--twitter);
}

