ul, ol{
    list-style: none;
}

.nav li a{
    color:rgb(44, 46, 47);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover{
    background-color: grey;
}

.nav > li{
    float: left;
}

.nav li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

.nav li ul li{
    position: relative;
}
