header {background-color: #e2e0dc;
    padding: 1em;
}


header {
    float: center;
    text-align: center;
    padding: 1em;
    }

body { 
    background-color: #dddbdb ;
}

section, aside {background-color: #dddbdb;
            padding: 2em ;
}
section {float: left;
    width: 70%
}

.comprita {
background-color: white;
padding: 2em;
border-radius: 20px;
}

.carrito {
background-color: white;
padding: 2em;
margin: 2em;
border-radius: 20px;
}

h4 {
float: right;
}

