<div class="empresas" id="empresas">
        <h1> Empresas que nos acompañan</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
            <div class="card h-100">
                <img src="../../../assets/img/sponsor1.PNG" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="../../../assets/img/sponsor 3.PNG" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="../../../assets/img/sponsor2.PNG" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="../../../assets/img/sponsor5.PNG" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="../../../assets/img/sponsor1.PNG" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="../../../assets/img/sponsor2.PNG" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="../../../assets/img/sponsor 3.PNG" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="../../../assets/img/sponsor4.PNG" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
</div>