<div id="productos">
    <H1> Ofertas impredibles</H1>
    <div class="row row-cols-3">
        <div class="col">
         <!-- <div class="d-flex justify-content-end"> -->
          <div class="card h-100">
            <img src="../productos/../../../assets/img/Italia.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Italia</h5>
              <p class="card-text">Recorré las históricas calles y ciudades de Italia, aprendé a decir ma perqué </p>
              <h3 class="card-text">Precio.</h3>
            </div>
            <div class="card-footer">
              <button class="btn btn-success" type="button" routerLink="/carrito">Agregar al carrito</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../productos/../../../assets/img/Brasil.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Brasil</h5>
              <p class="card-text">Playas paradisíacas, un calor de morirse y gente hinchando las pelotas</p>    
              <h3 class="card-text">Precio.</h3>
            </div>
            <div class="card-footer">
              <button class="btn btn-success" type="button" routerLink="/carrito">Agregar al carrito</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../productos/../../../assets/img/Mexico.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mexico</h5>
              <p class="card-text">Te sugerimos que no compres comida en la calle.</p>
              <h3 class="card-text">Precio.</h3>
            </div>
            <div class="card-footer">
              <button class="btn btn-success" type="button" routerLink="/carrito">Agregar al carrito</button>
            </div>
          </div>
        </div>
        <!--
        <div class="col">
            <div class="card h-100">
              <img src="../productos/../../../assets/productos/man-with-bag-and-walking-stick.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Excursiones</h5>
                <p class="card-text">Disfrutá y experimentá de las mejores excursiones de los mejores paisajes.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </div>
            </div>
          </div> -->
         <!-- </div>-->
      </div>
    </div>